<% if current_user.present? && (current_user.is_admin || current_user.is_manager || current_user.is_fs) then %>
<h1>Neuen Content</h1>

<style type="text/css">
  #link3 {color:blue;}
</style>
<% if !@content.errors.empty? %>
    <div class="alert alert-error">
      <ul>
        <% @content.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

    <%= render 'form' %>


<% end %>

<%#= render "application/index" %>
