<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hallo <%= @user.firstName %>,</h1>
<p>
  neuer Content steht zur Freigabe bereit.<br>
</p>
<p>Ich wünsche noch einen famosen Tag und trödel nicht bei der Freigabe:)</p><br>
Liebe Grüße
<p>Der noch famosere Matthias</p>
</body>
</html>