<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Willkommen bei uns, <%= @user.fullname %></h1>

<p>
  Du hast dich erfolgreich bei fachschaft-wirtschaft.ms registriert.
  Verwende <%= @user.email %> und dein Passwort, um dich an zu melden.<br>
</p>

<p>Wir wünschen noch einen famosen Tag :)</p>
</body>
</html>