<p>Hallo <%= @resource.firstName %>!</p>

<p>Jemand hat einen Link angefordert, um dein Passwort zu ändern. Um dies zu tun, klicke einfach auf den folgenden Link.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Solltest du kein neues Passwort benötigen, ignoriere einfach diese Mail.</p>
<p>Dein Passwort ändert sich erst, wenn du dem Link folgst.</p>
<p>Liebe Grüße</p>
<p>Deine Fachschaft</p>
