<h2 style="text-align:center;"><strong>Wir unterstützen beim Studienstart.</strong>
  <br>
    <strong>Wir beraten bei Schwierigkeiten.
      <br>Wir planen Events.
    </strong>
</h2>
<div style="text-align:center;">Wir, die Fachschaft Wirtschaft, sind Dein erster Ansprechpartner bei Fragen und Problemen. Nebenbei versuchen wir, Dir dein Studium mit tollen Events zu verschönern.
  <br><br><br>
  <strong>Du möchtest dich auch für deine Kommilitonen einsetzen?&nbsp;</strong>
  <br>Wir sind immer auf der Suche nach neuen, engagierten Mitgliedern. Komm einfach bei uns vorbei oder sprich uns an.<br><br>
  <strong><em>Unsere Fachschaftssitzung findet in der Regel jeden Montag um 18:15 im Fachschaftsbüro A417 statt.</em></strong><br></div>

<li class="wsite-menu-item-wrap wsite-nav-more    wsite-nav-6" style="position: relative; display: inline-block;">
  <a href="#" class="wsite-menu-item" id="wsite-nav-more-a" style="position: relative;">
    mehr...
  </a>
</li>

<div id="wsite-menus"><div class="wsite-menu-wrap" style="position: absolute; left: 363px; display: none; top: 98px;">
  <ul class="wsite-menu" style="display: none;">
    <li id="wsite-nav-569118510465370693" class="wsite-menu-subitem-wrap " style="position: relative;">
      <a href="/altklausuren.html" class="wsite-menu-subitem" style="position: relative;">
		<span class="wsite-menu-title">
			Altklausuren
		</span>
      </a>
    </li>
    <li id="wsite-nav-225768025926424286" class="wsite-menu-subitem-wrap " style="position: relative;">
      <a href="/auslandsberichte.html" class="wsite-menu-subitem" style="position: relative;">
		<span class="wsite-menu-title">
			Auslandsberichte
		</span>
      </a>
    </li>
    <li id="wsite-nav-317698301109888268" class="wsite-menu-subitem-wrap " style="position: relative;">
      <a href="/hochschulpolitik.html" class="wsite-menu-subitem" style="position: relative;">
		<span class="wsite-menu-title">
			Hochschulpolitik
		</span>
      </a>
    </li>
    <li id="wsite-nav-206999338862886986" class="wsite-menu-subitem-wrap  wsite-nav-current" style="position: relative;">
      <a href="/kontakt.html" class="wsite-menu-subitem" style="position: relative;">
		<span class="wsite-menu-title">
			Kontakt
		</span>
      </a>
    </li>
  </ul>
</div></div>