<div class="timeline-badge primary"><i class="glyphicon glyphicon-calendar"></i></div>
<div class="timeline-panel">
  <div class="timeline-heading">
    <h4 class="timeline-title"><%= content.title %></h4>
    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Erstellt: <%= content.created_at.strftime("%d.%m.%Y") %> </small></p>
  </div>
  <div class="timeline-body">
    <p><%= content.content %></p>
    <div class="timeline-footer">
      <br>
      <hr>
      <p><% user = content.user_id %>
        <%= link_to (@users.find(user).firstName + " " + @users.find(user).lastName), user_path(user) rescue "User gelöscht" %>
      </p>
    </div>
  </div>
</div>