<div class="panel panel-default">
  <div class="panel-heading"><strong><span class="glyphicon glyphicon-heart"></span> Fachschaftsmitglieder</strong></div>
  <div class="panel-body">
    <div class="grid-structure">
      <div class="row">
        <div class="col-md-6">
          <div class="widget-container">
            <div class="panel panel-profile">
              <div class="panel-heading bg-danger clearfix">
                <a href="" class="pull-left profile">
                  <img alt="" src="<%= asset_path('Gruppenfoto.png') %>" class="img-circle img80_80">
                </a>
                <h3 class="ng-binding">Lisa</h3>
                <p>Project Manager</p>
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">14</span>
                  <i class="ti-email"></i>
                  Cras justo odio
                </li>
                <li class="list-group-item">
                  <span class="badge badge-warning">2</span>
                  <i class="ti-comments"></i>
                  Dapibus ac facilisis in
                </li>
                <li class="list-group-item">
                  <span class="badge badge-info">1</span>
                  <i class="ti-heart"></i>
                  Morbi leo risus
                </li>
                <li class="list-group-item">
                  <span class="badge badge-success">3</span>
                  <i class="ti-folder"></i>
                  Vestibulum at eros
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget-container">
            <div class="panel panel-profile">
              <div class="panel-heading text-center bg-info">
                <img alt="" src="<%= asset_path('Gruppenfoto.png') %>" class="img-circle img80_80">
                <h3 class="ng-binding">Lisa</h3>
                <p>Project Manager</p>
              </div>
              <div class="list-justified-container">
                <ul class="list-justified text-center">
                  <li>
                    <p class="size-h3">679</p>
                    <p class="text-muted">Tweets</p>
                  </li>
                  <li>
                    <p class="size-h3">575</p>
                    <p class="text-muted">Followers</p>
                  </li>
                  <li>
                    <p class="size-h3">23</p>
                    <p class="text-muted">Following</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>























