<div class="panel panel-default" style="margin:0 5px 0 5px">
  <div class="panel-heading"><strong><span class="glyphicon glyphicon-heart"></span> Fachschaftsmitglieder</strong></div>
  <div class="panel-body">
    <div class="grid-structure">
      <div class="row">
        <% @users.each do |f| %>
        <div class="col-md-6">
          <div class="widget-container" style="border: solid 1px; margin-bottom:5px">
            <div class="panel panel-profile">
              <div class="panel-heading bg-danger clearfix">
                  <img src="<%= asset_path('Gruppenfoto.png') %>" class="img-circle img80_80" style="float:left">
                <h3 class="ng-binding" style="float:left; margin-left: 30px"><%= f.firstName %> <%=f.lastName%></h3>
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="ti-user"></i>
                  Team
                </li>
                <li class="list-group-item">
                  <i class="ti-comments"></i>
                  Mitglied seit
                </li>
                <li class="list-group-item">
                  <i class="ti-book"></i>
                  Studiengang
                </li>
                <li class="list-group-item">
                  <i class="ti-announcement"></i>
                  Ämter
                </li>
                <li class="list-group-item">
                  <i class="ti-facebook"></i>
                  <%= f.facebook %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>























