<style type="text/css">
    #link9 {color:blue;}
</style>

<div class="panel-body" style="margin-top: -50px">
  <div class="grid-structure">
    <div class="row">
      <div class="col-md-12">
        <div class="widget-container">
          <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5846.44823681036!2d7.592373886479074!3d51.96807875932184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b9ba9f703635e3%3A0xd6f9f285f5b7f50e!2sFachhochschulzentrum%2C+Corrensstra%C3%9Fe+25%2C+48149+M%C3%BCnster!5e0!3m2!1sde!2sde!4v1456315489418" width="600" height="450" frameborder="0" style="border:0;max-width:100%" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="widget-container">
          <div>
            <br>
            <strong>Fachhochschule Münster</strong>
            <br>
                Fachschaft Wirtschaft
            <br>
                Corrensstraße 25
            <br>
                48149 Münster
            <br>
                Telefon: 0251 83 64 984
            <br>
                Raum: A 417
            <br>
            <br>
            <br>
                Du hast fragen? Schreib uns:
            <br>
                <a href="mailto:info@fh-fachschaft.de">info@fh-fachschaft.de</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
