<style type="text/css">
    #link1 {color:blue;}
</style>
    <br>
    <p><h1>Hier kommt dann der User generated Content hin</h1></p>
    <p><h2>Gerne auch mit einer navbar darüber, um Themen aus zu wählen</h2></p>
    <br>

