<div class="callout callout-info">
  <h4>Studentische Mitbestimmung</h4>
  <p>Viele Studierende sehen in der FH Münster nicht nur einen Ort, an dem sie eine akademische Ausbildung erhalten können.
    Vielmehr wollen sie sich in unterschiedlichen Gremien engagieren und die Hochschulpolitik mitgestalten.
    <br>Die Studierendenschaft kann ihre studentischen Vertreter in offiziellen Wahlen selber wählen.<br>
    <br>Der Fachschaftsrat repräsentiert die Interessen der Studierenden gegenüber der Professoren.
    Das Studierendenparlament ist das oberste, beschlussfassende Organ der Studierendenschaft.
    Der ASTA das ausführende Organ der studentischen Selbstverwaltung.
    Der Fachbereichsrat beschließt über alle Belange des Fachbereichs und der Senat beschäftigt sich unter anderem mit Empfehlungen und Stellungnahmen
    bezüglich Forschung, Kunst, Lehre und Studium.
  </p>
</div>

<img src="<%= asset_path('politics.png') %>" data-toggle="modal" data-target="#myModal" alt="Bild" style="width:520;max-width:100%">

<h3 style="text-align:center;"><strong>Termine Wahlen SoSe 2016</strong></h3>
<div style="text-align:center;">Termine sind noch nicht beschlossen.<br><br></div>