<div class="panel panel-default">
  <div class="panel-heading"><strong><span class="glyphicon glyphicon-heart"></span> Fachschaftsmitglieder</strong></div>
  <div class="panel-body">
    <div class="grid-structure">
      <div class="row">
        <div class="col-md-6">
          <div class="widget-container">
            <div class="panel panel-profile">
              <div class="panel-heading bg-danger clearfix">
                <a href="" class="pull-left profile">
                  <img alt="" src="<%= asset_path('Gruppenfoto.png') %>" class="img-circle img80_80">
                </a>
                <h3 class="ng-binding">Lisa</h3>
                <%= link_to "upload/download", resumes_path, class: "btn btn-lg btn-primary" %>

              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget-container">
            <div class="panel panel-profile">
              <div class="panel-heading text-center bg-info">
                <img alt="" src="<%= asset_path('Gruppenfoto.png') %>" class="img-circle img80_80">
                <h3 class="ng-binding">Lisa</h3>
                <p>Project Manager</p>
              </div>
              <div class="list-justified-container">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



